body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
	font-family: #999;
	font-size: 100%;
	background: #ffffff;
}
@font-face {
   font-family: 'PoiretOne-Regular';
   src: url(../fonts/PoiretOne-Regular.html)format('truetype');
}
a:hover{
	text-decoration:none;
	color: #999;
 
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
   margin:0;	
   font-family: 'Montserrat', sans-serif;
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	color: #555;
    font-size: 0.9em;
    line-height: 2em!important;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- w3layouts --*/
/*-- agileits --*/
/*-- header --*/
.banner {
    background: url(../images/banner.html) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:800px;
	position:relative;
}
.down {
      position: absolute;
    left: 46%;
    top: 92%;

}
/*--head-top--*/
.logo{
  float:left;
}
.phone {
    float: right;
}
.logo a{
   display:block;
   text-decoration:none;
}
.logo a h1 {
    font-weight: 700;
    font-size: 2em;
    color: #333;
    margin-left:6.9em;
    padding-top:4px;
}
.logo h1 span {
   font-family: 'Nosifer', cursive;
   font-size: 2.5em;
   color:#ed1c24;
}
.logo h1 span.two {
    font-size: 1.7em;
}
/*--header--*/
.header-strip {
	padding: 0.6em 0 0.6em;
    background:#333;
}
p.phonenum {
	float:left;
	color:#999999;
	font-size:0.875em;
	margin-top: 3px;
}
span.glyphicon.glyphicon-earphone,glyphicons-envelope,span.glyphicon.glyphicon-map-marker {
    margin-right: 5px;
    font-size: 11px;
}
.social-icons  {
	float:right;
	margin-top: 6px;
	color: #CCC;
}
.social-icons i {
  width: 18px;
  height: 18px;
  background: url('../images/img-sprite.png') no-repeat 0px 0px;
  display: inline-block;
  margin-right:3px;
}
.social-icons i:hover {
	opacity:0.5;
}
.social-icons ul li{
	display:inline-block;
}
a i.facebook {
  background-position: 0px 0px;
}
a i.twitter {
  background-position: -18px 0px;
}
a i.google-plus {
  background-position: -36px 0px;
}
a i.dribble {
  background-position: -54px 0px;
}
/*--header-top--*/
.navbar-default {
	background-color: #ed1c24;
	border-color: #ed1c24;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
        border: 2px solid #ad030a;
    font-size: 1em;
	padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,a.active {
    color: #fff !important;
    background: none!important;
    border: 2px solid #fff;
}
ul.nav.navbar-nav li a.active {
	 color: #fff !important;
    background: none!important;
    border: 2px solid #fff;
}
.navbar-nav > li {
    float: left;
    margin-right: 16px;
}
.navbar-nav > li:nth-child(6){
	margin-right:0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
	border-radius: 0px;
	
	float:right;
       padding: 1.7em 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,a.active {
    color: #fff !important;
	border: 2px solid #fff;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
   
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #ed1c24;
	text-decoration: none;
	border: 2px solid #fff;
}
.dropdown-menu {
    padding: 0px 0;
}
.dropdown-menu > li > a {
    padding: 10px 16px !important;
    font-size: 1em;
}

p.envelope {
	float:left;
	color:#999999;
	font-size:0.875em;
	width: 75%;
	margin-top: 2px;
}
p.telephone {
	float:left;
	color:#999999;
	font-size:0.875em;
	width: 75%;
	margin-top: 2px;
}
p.location {
	float:left;
	color:#999999;
	font-size:0.875em;
	width: 75%;
	margin-top: 2px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0!important;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border: 2px solid #fff;
}
/*--about--*/
.ab-left {
    padding-left: 0;
}
.ab-right {
    text-align: left;
    padding: 14em 8em;
}
h2.tittle {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.4em;
	border-left: 8px solid #ed1c24;
	padding-left: 14px;
	margin-bottom: 0.5em;
}
h2.tittle span {
    color: #ed1c24;
}
/*-- w3layouts --*/
/*-- agileits --*/
.btm-right {
  overflow: hidden;
  position: relative;
  display: block;
}
.btm-right img{
	width:100%;
}
.btm-right .captn {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
       bottom: -89%;
    right: 0;
    background-color: rgba(237, 28, 36, 0.54);
    text-align: center;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btm-right:hover .captn {
  bottom: 0%;
}

.captn h4 {
    font-size: 2em;
    color: #fff;
    padding: 0.8em 0 0.2em;
    font-weight: 600;
}
.captn p {
    font-size:2em;
    color: #fff;
}
.btm-right:hover .captn h4 {
       margin-top: 370px;
}

/*--//about--*/
.test-review h5{
    font-size: 1.2em;
    color: #333;
    text-transform: none;
    margin-top: 1.2em;
    text-align: center;
}
.test-review img{
	  border-radius: 50%;
	-webkit-border-radius: 50%;
	-mox-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	    box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -o-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -ms-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);    
	width: 80%;
	border:none;
	    border-right: 6px solid #ad030a;
	
}
.test-review p img {
    margin: 0 10px!important;
	box-shadow:none;
}
.test-review img {
    margin: 0 auto;
}
.banner-bottom {
    padding: 6em 0 5em 0;
    background: #eaedf2;
}
/*--news--*/
.news-section {
	background: #f4f4f4;
	padding-top: 2em;
	padding-right: 0;
	padding-bottom: 5em;
	padding-left: 0;
}
.news-right {
  padding-top: 3em;
}
.col-bottom h4{
  color: #ed1c24;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight:600;
}
.col-bottom p{
  color: #555;
  font-size: 0.9em;
  line-height: 1.9em;
  margin: 1em 0 0 0;
}

/* Shutter In Horizontal */
/*-- w3layouts --*/
/*-- agileits --*/
a.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #333;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
      padding: 0.7em 1em;
	  color:#fff;
}
a.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#ad030a;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-shutter-in-horizontal:hover, a.hvr-shutter-in-horizontal:focus, a.hvr-shutter-in-horizontal:active {
  color: white;
}
a.hvr-shutter-in-horizontal:hover:before, a.hvr-shutter-in-horizontal:focus:before, a.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.col-bottom {
    margin: 1.2em 0 1.2em 0;
}
.col-bottom.two {
    margin: 0 0 1.2em 0;
}
.col-news-top .date-in {
	overflow: hidden;
	position: relative;
	display: block;
}
.col-bottom a {
    margin: 1em 0;
}
.col-news-top .date-in .month-in {
	position: absolute;
	height:100%;
	width: 50%;
	top: 0;
	left: 0;
	background: rgba(16, 16, 16, 0.67);
	text-align: center;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.col-news-top .date-in:hover .month-in {
	width: 100%;
}
.col-news-top .date-in .month-in label {
	display: inline-block;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
	top:44%;
	margin-top: -61px;
	position: absolute;
	left: -3px;
	right: 0;
}
.col-news-top .date-in .month-in label .day {
  font-size: 3em;
  line-height: 102px;
  margin-bottom: -24px;
  font-weight: 400;
}
.col-news-top .date-in .month-in label .month {
	font-size: 14px;
	line-height: 14px;
}
.col-news-top .date-in .month-in label span {
	display: block;
}
span.like {
    font-size: 0.9em;
    color: #ed1c24;
    text-transform: capitalize;
	margin: 10px 0;
}
.news-left {
    margin-top: 2em;
}
 .blog-pagenat {
  text-align: center;
  margin-top: 3em;
}
.blog-pagenat ul li {
  display: inline-block;
  list-style:none;
}
.blog-pagenat ul li a {
    background: none;
    padding: 8px 1.1em;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #ed1c24;
    font-weight: 400;
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    border: 2px solid #ed1c24
}
.blog-pagenat ul li a:hover {
  background:#ed1c24;
  color:#fff;
  border:2px solid #ed1c24;
}
.blog-pagenat ul li a.last,a.frist {
    background: #ed1c24!important;
    color: #fff!important;
}
.single-top img{
	width:100%;
}
.grid-single{
	width:70%;
	margin:1em auto;
}
.single-one{
	float:left;
	width:33.3%;
	text-align: center;
}
.single-one span {
	  color: #ed1c24;
	font-size:1em;
}
.single-one span a{
	color: #ed1c24;
	text-decoration:none;
}
 p.eget {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.8em;
  color: #ed1c24;
  padding: 1em 0;
}
ul.social-share{
	float:left;
}
ul.social-share li{
	display: inline-block;	
}
ul.social-share li span{
	color: #333;
    font-size: 1.2em;
    margin: 0 1em 0 0;
    font-weight:600;
	font-family: 'Montserrat', sans-serif;
}
ul.social-share li  i{
	background: url(../images/icons.png)no-repeat -75px -1px;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
}
ul.social-share li  i:hover{
	    background: url(../images/icons.png)no-repeat -75px -23px;
}
ul.social-share li  i.tin{
	background: url(../images/icons.png)no-repeat -98px -1px;
}
ul.social-share li  i.tin:hover{
	  background: url(../images/icons.png)no-repeat -98px -23px;
}
ul.social-share li  i.message{
	    background: url(../images/icons.png)no-repeat -124px -1px;
}
ul.social-share li  i.message:hover{
	    background: url(../images/icons.png)no-repeat -124px -23px;
}
.top-comments h3,.leave h3{
    color: #333;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}
.single-middle{
	background: #f4f4f4;
	padding: 1.5em;
}
i.arrow{
    background: url(../images/icons.png)no-repeat -148px -1px;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: right;
	margin-top: 4px;
}
i.arrow:hover{
  background: url(../images/icons.png)no-repeat -148px -23px;
}
.comments-top-top{
	background: #F4F4F4;
}
.men{	
    background: #333;
    float: left;
    width: 9%;
    text-align: center;
    padding: 2em 0;
}
.men i {
    color: #fff;
    font-size: 2em;
}
p.men-it{
	float: left;
	width:86%;
	margin:0 0 0 2%;
	font-size:0.9em;
	font-weight: 400;
	line-height: 1.6em;
	color: #555;
	padding: 1.6em 0;
}
.met-in{
	margin: 0 0 0 3em;
}
.met {
	padding: 1em 0;
}
p.smith{
	float:left;
	padding: 0;
	font-size:1em;
}
p.smith a{
  text-decoration: none;
  color: #ed1c24;
  font-weight: 500;
  font-size: 1.2em;
}
.code-in {
	padding: 0 0 0.5em;
}
p.smith  span{
    font-weight: 400;
    padding: 0 2em;
    color: #9E9DA0;
    font-size: 0.9em;
}
.top-in{
	background: #F4F4F4;
}
p.reply{
	float:right;
	padding:0;
	width: 17%;
	color:#362f2f;
	font-size:1em;
}
p.reply a{
	text-decoration:none;
	color: #555;
}
p.reply a:hover{
	color:#ed1c24;
}
p.reply i{
  background: url(../images/icons.png)no-repeat -174px -1px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: baseline;
}
p.reply i:hover{
    background: url(../images/icons.png)no-repeat -174px -23px;
}
.single-us input[type="text"],.leave textarea,.leave input[type="submit"] {
  font-size: 1em;
  width: 100%;
  padding: 0.8em 1em;
  margin: 0.5em 0;
  background: #fff;
  outline: none;
  border: 1px solid #ddd;
  color: #ed1c24;
  -webkit-appearance: none;
}
.leave input[type="submit"] {
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.8em;
  display: inline-block;
  background:#ed1c24;
 margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  width: 13%;
}
.leave input[type="submit"]:hover{
   background:#333;
}
.leave textarea {
  resize: none;
  width: 100%;
  margin: 0.5em 0em;
  height: 185px;
}
.top-comments {
  padding-top: 1em;
}
.leave {
  margin-top:0.9em;
}
.post-details.s-page p {
    color: #555;
    line-height: 1.9em;
    font-size: 0.9em;
}
.news-section.single {
	  background:#fff;
}
.post-details.s-page h2 {
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1.2em 0 0.5em 0;
}
p.eget b {
    color: #333;
}
/*--typography --*/
.typography {
    padding: 5em 0;
}.mb-60 {
    padding-left: 0;
}
.mb-60 h4 {
    margin: 36px 0 38px;
    font-size: 24px;
}
.tab-content {
	padding: 15px;
	padding-top: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px;
	border-top: none;
}
.nav-tabs {
	border: none;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	background: #f8f8f8;
	margin-right: 3px;
	border: none;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #555;
	padding: 12px 20px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.nav-tabs > li > a .fa {
	margin-right: 10px;
}
.nav-tabs > li.active > a{
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color:#ed1c24;
	border: none;
	border-radius: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color: #fff;
	background-color:#ed1c24;
}
.nav-tabs > li > a i {
	font-size: 32px;
	margin-right: 20px;
	vertical-align: middle;
}
.tab-content p {
    line-height: 2.2em;
    font-size: 14px;
	    color: #777;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size:0.9em;
    color: #555;
}
.grid_4{
	background:#fff;
	padding:0em 0em 0em 0em;
}  
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}
.grid_3.grid_4 {
    margin-top: 2em;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size:0.9em;
    color: #555;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
li.list-group-item1 {
    line-height: 2em;
    font-size:0.9em;
    color: #555;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #ad030a;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #ad030a;
}
.progress-bar-info {
  background-color: #ed1c24;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#ed1c24 !important;
  border-color:#ed1c24 !important;
}
.grid_3 p,.page-header p {
  color: #ed1c24;
  font-size: 14px;
  line-height:2em;
  margin: 1em 0 2em;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li {
    font-size:0.9em;
}
a.list-group-item {
    color: #555;
    font-size:0.9em;
}

.badge-primary {
  background-color: #ed1c24;
}
.badge-success {
  background-color: #ed1c24;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
.bars {
    margin-bottom: 0.8em;
    color: #ed1c24;
}
li.list-group-item1 {
  line-height: 2.5em;
}
ol {
  margin-bottom: 44px;
}
.list-group {
  margin-bottom: 48px;
}
.input-group {
  margin-bottom: 20px;
}
/*--//typography--*/
/*--product-starts--*/
.product {
    padding: 6em 0;
}
.product-left ul{
	padding:0;
	margin-top:9%;
}
.product-left ul li {
    list-style: none;
    line-height: 2.4em;
}
.product-left ul li i{
	 padding-right:10px;
	 top:3px;
}
.product-left ul li a{
	color:#555;
	    font-size: 0.9em;
}
.product-left ul li a:hover{
	color: #ed1c24;
}
.prdt {
    margin-top: 6%;
}
.prdt-left img{
	width:100%;
}
.prdt-left p{
    line-height: 1.9em;
    margin-top: 10px;
	color: #555;
	    font-size: 0.9em;
}
.prdt-left h4 {
       color:#ed1c24;
    font-size: 22px;
    margin: 17px 0 0 0;
}
.captn1 h5 {
    color: #fff;
    font-size: 22px;
    margin: 17px 0 0 0;
}
.btm-right1 {
  overflow: hidden;
  position: relative;
  display: block;
}
.btm-right1 img{
	width:100%;
}
.btm-right1 .captn1 {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -74%;
    right: 0;
    background-color: rgba(237, 28, 36, 0.54);
    text-align: center;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btm-right1:hover .captn1 {
  bottom: 0%;
}
.captn1 p {
    font-size:2em;
    color: #fff;
}
.btm-right1:hover .captn1 h5 {
   margin-top:95px;
}

/*--client--*/
#client {
    background: url(../images/bottom.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:650px;
    text-align: center;
}
.customer-say {
    padding-top:9em;
}
.quotes img {
    width: 100%;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-mox-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

.de_testi_by,.de_testi_by a{
	color: #ed1c24;
    font-size:0.9em;
    margin: 17px 0 0 0;
}
.de_testi {
    margin: 0;
    border: none;
       padding: 3em 3em;
   background: rgba(0, 0, 0, 0.73);
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
    text-align: left;
    color: #fff;
    font-size: 0.9em;
}
.quotes {
    float: left;
    width:15%;
	    margin-top: 1em;
}
.de_testi_by{
	float: right;
	width:78%;
}
.de_testi_by p {
    color: #fff;
    font-size:1em;
    font-weight: 400;
    line-height: 2em;
}
.customer-grid {
    margin-top:4em;
}
/*-- features --*/
.feature-grid-image img {
    width: 100%;
}
#services {
    background: #eaedf2;
}
.features h3 {
    font-size: 40px;
    margin-bottom: 50px;
}

.features p {
    margin-bottom: 50px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
}

.features-info {
	margin-top: 10px;
}

.feature-grid {
  padding: 6em 0em 6em 11em;
}

.feature {
      width: 49%;
    float: left;
    margin-right: 1%;
    padding: 10px 30px;
}
.features-item h4 {
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 600;
}

.features-item p {
    color: #555;
    font-size:0.9em;
    line-height: 1.9em;
    margin: 0.5em 0 0 0;
}
.hi-icon-effect-9a .hi-icon:hover {
    box-shadow: 0 0 0 5px #EFA52C;
}
a.hi-icon img {
    margin: 22px 0 0;
}
.hi-icon-wrap {
    padding: 0;
}
/*-- gallery --*/
.banner-two{
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}
/*-- gallery --*/
/*-- gallery --*/
.gallery {
    padding: 4em 0;
}
.gallery-heading{
	text-align:center;
}
.gallery-grids {
    margin: 2em 0 0 0;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;	
	overflow: hidden;
	margin: 10px 0;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
    margin: 0;
    text-align: left;
    font-size: 1.2em;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*-----------------*/
/***** Apollo *****/
/*-----------------*/


figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
	-moz-transform: scale3d(1.05,1.05,1);
	-o-transform: scale3d(1.05,1.05,1);
	-ms-transform: scale3d(1.05,1.05,1)
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	-o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	-mz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	-ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #ed1c24;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo h2 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	-o-transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	-o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	-moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	-ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
#gallery {
    padding: 5em 0;
}
/*-- //gallery --*/
/*--timer--*/
.time-bg {
    background: url(../images/office.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 500px;
    text-align: center;
}
p#demo {
    font-size: 3em;
   color: #ed1c24;
}
.time-bg h4 {
    font-size: 3em;
    color: #fff;
    padding: 4em 0 0.5em 0;
	font-weight: 600;
}
.time-bg h4 span {
        color: #ed1c24;
}
/*--//timer--*/
/*--banner-inner--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:44%;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 42px;
    height: 52px;
    background: transparent url("../images/arrows.png") no-repeat left top;
    margin-top:2%;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
  .callbacks_nav.next {
    left: auto;
    background-position: right top;
        left: 94%;
}
.callbacks_nav.prev {
    right: auto;
    background-position: left top;
        left: -0%;
}
.projects-inner {
    margin-top: 2em;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
	bottom: -9%;
    z-index: 0;
       right: 7%;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .3em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
       content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 14px;
    width: 14px;
    display: inline-block;
    background: #F38329;
    border: none;
    border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}
.callbacks_here a:after{
  background:#ffcc00;
}
.projects {
	padding-top: 2em;
	padding-right: 0;
	padding-bottom: 5em;
	padding-left: 0;
}
.choose_right p {
    color: #fff;
    font-size:0.9em;
    line-height:1.9em;
    padding: 0 0%;
}
.choose_img h3{
       font-size: 28px;
    color: #fff;
    font-weight: 600;
    border-left: 6px solid #ed1c24;
    padding-left: 17px;
    line-height: 1.5em;
}
.choose_icon {
    margin-top: 2em;
}
.choose_icon:hover span {
    color: #fff;
}
.choose_left {
    float: left;
    width: 20%;
    height: 50px;
    margin-top: 0;
}
.choose_right {
    float: right;
	width: 78%;
}
.ban-text {
    padding: 0;
    background: #333;
}
.banner-slider {
    padding: 0;
}
.choose_left span {
    color: #ed1c24;
    font-size: 35px;
    top: 8px;
}
.choose {
    padding: 5.5em 2em;
}
/*-- contact-page --*/
h3.tittle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.4em;
    border-left: 8px solid #ed1c24;
    padding-left: 14px;
    margin-bottom: 0.5em;
}
h3.tittle.two {
    color: #fff;
    text-align: left;
}
.product-top h3 {
    font-size:2em;
}
h3.tittle.three {
    margin-left: 2em;
}

/*----*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
	 font-size:1em;
	 color:#ed1c24;
	 top:-2em;
	 -webkit-transition: all 0.125s ease;
	 transition: all 0.125s ease;
}
.styled-input {
  width:100%;
  margin: 2em 0 1em;
  position: relative;
}

.styled-input label {
    color: #555;
    padding:0.8em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    font-weight: 400;
       font-size: 0.9em;
}

.styled-input.wide { width: 100%; }
input,
textarea {
    padding: 1em 0.8em;
    border: 0;
    width: 100%;
    font-size:0.9em;
    border-bottom: 1px solid #ddd;
	color: #444;
	background: none;
}
input ~ span,
 textarea ~ span {
  display: block;
  width: 0;
  height:2px;
  background:#ed1c24;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
  font-family: 'OpenSans-Regular';
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
     width: 100%;
    -webkit-transition: all 0.075s ease;
      transition: all 0.075s ease;
      font-family: 'OpenSans-Regular';
}

textarea {
      width: 100%;
      min-height: 7em;
      border-bottom: 1px solid #ddd;
      resize: none;
}
form {
    padding: 0 0;
}
.send input[type="submit"] {
    border: none;
    background:#ed1c24;
    cursor: pointer;
    border-radius: 0px;
    width: 140px;
    color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
	font-size: 1.2em;
    padding: 0.7em 1em;
}
.send input[type="submit"]:hover{
	background:#333;
}

.map {
   margin-top: 4em;
}
.map iframe {
    height: 400px;
    border: none;
    width: 100%;
	    margin-top: 15px;
}
.con-top ul li,.con-top ul li a {
    display: block;
    line-height: 2em;
    font-size: 0.9em;
    color: #555;
    list-style: none;
}
.con-top ul li a {
  color: #ed1c24;
  text-decoration:none;
}
.con-top {
	margin-top: 2em;
	margin-top: 1em;
	float: left;
}
.con-top.two {
    margin-left: 3em;
}
#contact {
    padding:5em 0;
}
.con-top h4 ,h4.info{
        font-size: 1.4em;
    color: #ed1c24;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
	margin-bottom: 0.5em;
}
h4.info{
	font-size:2em;
}
p.para1,p.wel-text {
    color: #555;
    font-size:0.9em;
    line-height: 1.9em;
}
p.wel-text{
	margin:1em 0;
}
.contact-in {
    margin-top: 4em;
}
/*--footer--*/
/*--footer--*/
.footer{
	background: #333;
	padding-top: 2em;
	padding-right: 0;
	padding-bottom: 2em;
	padding-left: 0;
}
.footer-top p{
	    font-size: 0.9em;
}
ul.social-icons2 {
    margin-top: 24px;
}
.amet-sed h4{
	margin: 0 0 0.7em;
    font-size:1.6em;
    color: #fff;
    font-weight: 700;
	border-left: 6px solid #ed1c24;
    padding-left: 9px;
	text-transform:uppercase;
}
.amet-sed p{
	margin: 0 0 0.5em;
    color: #C1BFBF;
    line-height: 1.8em;
}
ul.social li{
	list-style:none;
	padding:0.5em 0;
	font-size:0.9em;
	    color: #C1BFBF;
}
ul.social li i{
	display:inline-block;	
	    margin-right: 12px;
		color:#fff;
}
ul.social li a {
	text-decoration:none;
	font-size:1em;
	color:#C1BFBF;	
}
.amet-medium p a{
	color:#ed1c24;
	 text-decoration:none;
 }
.amet-medium p a:hover{
	color:#000;
}
.footer-class{
	text-align:left;
	color:#fff;
	margin: 1.5em 0 0;
}
p.footer-class {
    font-size: 0.9em;
}
.footer-class a{
	    text-decoration: none;
    color: #ed1c24;
}
.footer-class a:hover{
	color:#fff;
}
ul.social-icons2  li{
	display:inline-block;
}
ul.social-icons2  li a.tw,ul.social-icons2  li a.fb,ul.social-icons2  li a.in {
	width:79px;
	height:89px;
	display: block;
	background: url(../images/tw.png)no-repeat 0px 0px;
}
ul.social-icons2 li a.fb {
	background: url(../images/fb.png)no-repeat 0px 0px;
}
ul.social-icons2  li a.in {
	background: url(../images/gg.png)no-repeat 0px 0px;
}

ul.social-icons2  li a:hover{
	opacity:0.8;
}
ul.social{
	    display: block;
    padding: 0;
    margin:1em auto 0;
}
ul.social li {
    display: block;
}
ul.social li a{  
    margin-right:1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	-webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.support input[type="text"] {
    width:63%;
  padding: 12px;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  border: 1px solid #fff;
  outline:none;
  margin:0px 0px 0 0;
  webkit-appearance:none;
      background: #fff;
}
.support input[type="submit"]{
     background: #ed1c24;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0.88em;
    text-align: center;
    webkit-appearance: none;
    outline: none;
    width:35%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.support input[type="submit"]:hover{
   background:#1CB7AF;
}
.support {
    margin: 1em 0em 0 0;
    background-color: rgb(45, 45, 45);
    padding: 1em 1em;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*-- responsive-design starts-here --*/
@media (max-width: 1440px) {
	.logo a h1 {
		font-size: 2em;
		margin-left: 4.3em;
		padding-top: 4px;
	}
}
@media (max-width: 1366px) {
	.logo a h1 {
		font-size: 2em;
		margin-left: 3.2em;
		padding-top:3px;
	}
	
	
}
@media (max-width:1280px) {
		.navbar-nav > li {
			float: left;
			margin-right: 11px;
		}
		.logo a h1 {
			font-size: 2em;
			margin-left: 2em;
			padding-top: 4px;
		}
		.time-bg h4 {
			font-size: 2.5em;
			padding: 3em 0 0.5em 0;
		}
		.time-bg {
			min-height: 404px;
		}
		.ab-right {
		text-align: left;
		padding: 7em 7em;
	}
	.feature-grid {
		padding: 2em 0em 1em 0em;
	}
}
@media (max-width:1024px) {
	.logo a h1 {
		margin-left: 1em;
		padding-top: 3px;
		font-size: 1.9em;
	}
	.navbar-nav > li {
		float: left;
		margin-right: 6px;
	}
	.nav > li > a {
		position: relative;
		display: block;
		padding: 10px 10px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size:0.9em;
		padding-top:8px;
		padding-bottom:8px;
	}
	.test-review img {
		width: 30%;
		border: none;
		border-right: 6px solid #ed1c24;
	}
	.logo a h1 {
		margin-left: 11px;
		padding-top: 9px;
		font-size: 1.5em;
	}
	h2.tittle {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.1em;
	}
	h3.tittle {
		font-size: 2.2em;
	}
	.feature-grid {
		padding: 4em 0em 4em 0em;
	}
	.features-item h4 {
		font-size: 1.1em;
	}
	.feature {
		width: 49%;
		float: left;
		margin-right: 1%;
		padding:0px 7px;
	}
	.ab-right {
		text-align: left;
		padding: 6em 1em 3em 1em;
	}
	a.hi-icon img {
		margin: 19px 0 0;
		width: 45%;
	}
	.feature-grid {
		padding: 1em 0em 1em 0em;
	}
	.navbar-collapse {
		max-height: 340px;
		padding-right: 15px;
		padding-left: 15px;
		padding: 0;
	}
	.customer-say {
		padding-top: 6em;
	}
	#client {
		min-height: 580px;
	}
	.choose {
		padding:2em 2em;
	}
	h3.tittle.new {
		font-size: 2em;
	}
	.product-left ul li i {
		padding-right: 4px;
		top: 3px;
	}
	.product,.typography,#gallery,.news-section,#contact,.projects {
		padding: 5em 0;
	}
	.choose_icon {
		margin-top: 0.83em;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 92%;
	}
	.amet-sed h4 {
		margin: 0 0 0.7em;
		font-size: 1.7em;
	}

	.banner-bottom {
      padding: 5em 0 4em 0;
	}
	.choose {
		padding: 4em 3em;
	}
	.con-top.two {
		margin-left: 1em;
	}
	.btm-right .captn {
		bottom: -87%;
	}
   .captn h4 {
       font-size: 1.6em;
	}
	.btm-right:hover .captn h4 {
		margin-top: 243px;
	}
	.btm-right1 .captn1 {
		bottom: -67%;
	}
	.btm-right1:hover .captn1 h5 {
		margin-top: 72px;
	}
	.app-devices {
		width: 73%;
		margin: 30px 0 0 0;
	}
}
@media (max-width:991px) {
	.navbar-default .navbar-nav > li > a {
			font-size: 0.8em;
			padding-top: 5px;
			padding-bottom: 5px;
    }
	.navbar {
		width: 61%;
		float: right;
		padding: 1.7em 0;
	}
	.ab-right {
		text-align: left;
		padding: 4em 1em 3em 1em;
	}
	.feature-grid {
		padding: 4em 0em 4em 0em;
	}
	.feature {
		width: 49%;
		float: left;
		margin-right: 1%;
		padding: 0px 14px;
	}
	.col-news-right img,.col-news img {
		width: 100%;
	}
	.ab-left,.feature-grid-image {
		padding: 0 15px;
		width: 66%;
		margin: 0 auto;
	}
	.btm-right .captn {
		bottom: -89%;
	}
	.product-left ul {
		padding: 0;
		margin-top: -1%;
	}
	.prdt-left {
		float: left;
		width: 50%;
		padding-left: 0;
	}
	.customer-grid {
		margin-top: 1em;
		float: left;
		width: 50%;
	}
	.quotes {
		float: none;
		width: 20%;
		margin-top: 1em;
		margin: 0 auto;
	}
	.de_testi_by {
		float: none;
		width: 100%;
		    text-align: center;
	}
	.amet-sed.amet-medium {
		margin: 1.5em 0;
	}
	.con-top.two {
		margin-left:0em;
	}
	.de_testi {
		margin: 0;
		border: none;
		padding: 2em 2em;
	}
	h3.tittle {
		font-size: 2em;
	}
	#client {
		min-height: 510px;
	}
	.customer-say {
		padding-top: 5em;
	}
	.ban-text {
		padding: 0;
		float: left;
	}
	.time-bg h4 {
		    font-size: 2.5em;
		padding: 2em 0 0.5em 0;
		line-height: 1.7em;
	}
	.product-left ul {
		padding: 0;
		margin-top: 0%;
		margin-bottom: 4%;
	}
	.choose_icon {
		margin-top: 1.8em;
	}
	.support {
		margin: 0.5em 0em 0 0;
		padding: 1em 1em;
		width: 69%;
	}
	p#demo {
		font-size:2.3em;
	   
	}
	.banner-two {
		min-height:200px;
	}
	p.phonenum {
		font-size: 0.875em;
		margin-top: 0;
	}
	p.location {
		font-size: 0.875em;
		width: 48%;
		margin-top: 2px;
	}
	.btm-right .captn {
		bottom: -92%;
	}
	.logo a h1 {
		margin-left: 123px;
		padding-top: 9px;
		font-size: 1.5em;
	}
	.navbar-nav > li {
		float: left;
		margin-right: 18px;
	}
}
@media (max-width:800px) {
	.leave input[type="submit"] {

		width: 17%;
	}
	.met-in {
		margin: 0 0 0 0em;
	}
	.navbar-nav > li {
		float: left;
		margin-right: 4px;
	}
	.logo a h1 {
		margin-left: 28px;
		padding-top: 9px;
		font-size: 1.5em;
	}
}
@media (max-width:768px) {
	.men {
		width: 9%;
		text-align: center;
		padding: 2.89em 0;
	}
	.logo a h1 {
		margin-left: 13px;
		padding-top: 9px;
		font-size: 1.5em;
	}
}
@media (max-width:736px) {
	.logo {
		float: none;
		width: 100%;
		text-align: center;
	}
	.navbar {
		width: 100%;
		float: none;
		padding: 0.5em 0;
		text-align: center;
	}
	.navbar-default .navbar-toggle {
       border-color: #333;
	}
	.navbar-toggle {
		position: relative;
		float: none;
		padding: 9px 9px;
		margin-top: 8px;
		margin-right:0!important;
		margin-bottom: 8px;
		background-color: #333333;
		background-image: none;
		border: 1px solid #333333;
		border-radius: 0!important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color:#ed1c24;
		border: 1px solid #ed1c24;
	}
	.navbar-nav {
		margin: 0 1em;
		padding-bottom: 0.5em;
	}
	
	.navbar-nav > li {
		float: none;
		margin-right: 0;
		margin-top: 12px;
		display: block;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none!important;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 0.9em;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.logo a h1 {
		margin-left: 0;
		padding: 9px 0;
		font-size: 2em;
	}
	ul.dropdown-menu li {
		margin-top: 10px;
	}
	p.location {
		float: left;
		color: #999999;
		font-size: 0.875em;
		width: 44%;
		margin-top: 1px;
	}
	.banner-two {
		min-height: 150px;
	}
	.product, .typography, #gallery, .news-section, #contact, .projects {
		padding:4em 0;
	}
	h2.tittle {
		font-weight: bold;
		font-size: 1.8em;
	}
}
@media (max-width:667px) {
	.product, .typography, #gallery, .news-section, #contact, .projects {
		padding: 3em 0;
	}
	.customer-say {
		padding-top: 4em;
	}
	.time-bg {
		min-height: 368px;
	}
	.support {
		margin: 0.5em 0em 0 0;
		padding: 1em 1em;
		width: 87%;
	}
	.support input[type="submit"] {
		border: 0;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		padding: 0.88em;
		width: 28%;
	}
	.support input[type="text"] {
		width: 71%;
		padding: 12px;
		font-size: 15px;
		text-align: left;
	}
	.leave input[type="submit"] {
		font-size: 1em;
		padding: 0.8em;
		margin: 0.5em 0 0 0;
		width: 29%;
	}
	h4.info {
		font-size: 1.8em;
	}
	.btm-right .captn {
		bottom: -87%;
	}
	.btm-right1 .captn1 {
		bottom: -84%;
	}
}
@media (max-width:640px) {
	.logo a h1 {
		margin-left: 0;
		padding: 9px 0;
		font-size: 1.8em;
	}
	.support {
		margin: 0.5em 0em 0 0;
		padding: 1em 1em;
		width: 87%;
	}
	.col-bottom h4 {
       font-size: 1.2em;
	}
	.ab-right {
		text-align: left;
		padding: 3em 1em 2em 1em;
	}
	h3.tittle.new {
		font-size: 1.8em;
	}
	.prdt-left {
		float: left;
		width: 100%;
		padding-left: 0;
		margin-bottom: 2em;
	}
	.prdt-left:nth-child(2) {
		margin-bottom:0;
	}
	.test-review img {
		width:45%;
		border: none;
		border-right: 6px solid #ed1c24;
	}
	.post-details.s-page h2 {
		font-size: 1.4em;
		margin: 1.2em 0 0.5em 0;
		line-height: 1.6em;
	}
	h3.tittle {
		font-size: 1.8em;
	}
	.contact-in {
		margin-top: 2em;
	}
	.app-devices {
		width:90%;
		margin: 30px 0 0 0;
	}
}
@media (max-width:600px) {
	.logo a h1 {
		margin-left: 0;
		padding: 9px 0;
		font-size: 1.8em;
	}
	.top-comments h3, .leave h3 {
		font-size: 1.6em;
	}
	.customer-say {
		padding-top: 2em;
	}
	.feature {
		width: 100%;
		float: left;
		margin-right: 0;
		padding: 0px 14px;
		margin-top: 3%;
	}
	.quotes {
		float: none;
		width: 33%;
		margin-top: 1em;
		margin: 0 auto;
	}
	.de_testi {
		margin: 0;
		border: none;
		padding: 1em 1em;
	}
	.amet-sed h4 {
		margin: 0 0 0.7em;
		font-size: 1.4em;
	}
	.map iframe {
		height:300px;
		border: none;
		width: 100%;
		margin-top: 15px;
	}
	.app-devices {
		width:100%;
		margin: 30px 0 0 0;
	}
	.captn h4 {
		font-size: 1.4em;
	}
}
@media (max-width:480px) {
	.logo a h1 {
		margin-left: 0;
		padding: 9px 0;
		font-size: 1.5em;
	}
	.men {
		width: 12%;
		padding: 4em 0;
	}
	.btm-right .captn {
		bottom: -85%;
	}
	.btm-right1 .captn1 {
		bottom: -77%;
	}
	h2.tittle {
		font-size: 1.6em;
	}
	.test-review img {
		width: 55%;
		border: none;
		border-right: 6px solid #ed1c24;
	}
	.post-details.s-page h2 {
		font-size: 1.3em;
		font-weight: 600;
		text-transform: uppercase;
		margin: 1.2em 0 0.5em 0;
		line-height: 1.6em;
	}
	.support {
		margin: 0.5em 0em 0 0;
		padding: 1em 1em;
		width: 100%;
	}
	.support input[type="submit"] {
		border: 0;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		padding: 0.88em;
		width: 27%;
	}
	.grid figure h3 {
		word-spacing: -0.15em;
		font-weight: 300;
		margin: 0;
		text-align: left;
		font-size: 1em;
	}
	.grid figure p {
		letter-spacing: 1px;
		font-size: 64.5%;
	}
	.blog-pagenat ul li a {
		background: none;
		padding: 8px 0.9em;
	}
	.footer {
		padding: 2em 0;
	}
	p.location {
		float: left;
		color: #999999;
		font-size: 0.875em;
		width: 100%;
		margin-top: 1px;
	}
	.con-top.two {
		margin-left: 0em;
		margin-top: 1em;
	}
	.btm-right:hover .captn h4 {
		margin-top: 120px;
	}
	.captn1 h5 {
		font-size: 17px;
		margin: 10px 0 0 0;
	}
}
@media (max-width:414px) {
	.banner-bottom {
		padding: 3em 0 2em 0;
	}
	h2.tittle {
		font-weight: bold;
		font-size: 1.3em;
	}
	.col-bottom h4 {
		font-size: 1em;
	}
	.features-item h4 {
		font-size: 1em;
	}
	.ab-right {
		text-align: left;
		padding: 2em 1em 0em 1em;
	}
	a.hvr-shutter-in-horizontal {
		 padding: 0.5em 1em;
         font-size: 0.8em;
	}
		h3.tittle.three {
		margin-left: 0.5em;
	}
	.feature-grid {
		padding: 2em 0em 2em 0em;
	}
	.col-news-top .date-in .month-in label .day {
		font-size: 2em;
		line-height: 102px;
		margin-bottom: -24px;
		font-weight: 400;
	}
	.col-news-top .date-in .month-in label .month {
		font-size: 10px;
		line-height: 14px;
	}
	span.like {
		font-size:0.87em;
		margin: 3px 0;
	}
	.col-bottom p,.features-item p,.product-left ul li a,.choose_right p,.footer-top p,p.footer-class,.post-details.s-page p,p.men-it {
		    font-size: 0.835em;
	}
	.product-left.heading {
		padding: 0 5px;
	}
	h3.tittle.new {
    font-size: 1.2em;
}
	.product-right.heading {
		padding: 0 5px;
	}
	h3.tittle {
		    font-size: 1.3em;
	}
	.customer-grid {
		margin-top: 1em;
		float: left;
		width: 100%;
		padding: 0 5px;
	}
	#client {
		padding-bottom: 1em;
	}
	.contact-in {
		padding: 0 5px;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 86%;
	}.choose {
		padding: 2em 1em;
	}
	.choose_left span {
		font-size: 26px;
		top: 8px;
	}
	.time-bg h4 {
		font-size:1.9em;
		padding: 2em 0 0.5em 0;
		line-height: 1.7em;
	}
	p#demo {
		font-size: 1.7em;
	}
	.time-bg {
		min-height:300px;
	}
	.support input[type="text"] {
		width: 100%;
		padding: 12px;
		font-size: 15px;
		text-align: left;
	}
	.support input[type="submit"] {
		border: 0;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		padding: 0.7em;
		width: 46%;
		margin: 0.5em 3.4em;
	}
	figure.effect-apollo p {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 2em;
		padding: 0 0.5em;
	}
	.product, .typography, #gallery, .news-section, #contact, .projects {
		padding: 2em 0;
	}
	.gallery-grids {
		margin: 1em 0 0 0;
	}
	.grid figure h3 {
		word-spacing: -0.15em;
		font-weight: 300;
		margin: 0;
		text-align: left;
		font-size: 0.9em;
	}
	.single-middle {
		padding: 0.5em;
	}
	p.smith a {
		font-size: 1em;
	}
	p.reply {
		float: right;
		padding: 0;
		width: 23%;
		font-size: 0.9em;
	}
	p.men-it {
		float: left;
		width: 72%;
	}
	.leave input[type="submit"] {
		font-size: 0.9em;
		padding: 0.8em;
		margin: 0.5em 0 0 0;
		width: 37%;
	}
	.top-comments h3, .leave h3 {
		font-size: 1.3em;
	}
	.men i {
		font-size: 1.5em;
	}
	.leave textarea {
		resize: none;
		width: 100%;
		margin: 0.5em 0em;
		height: 154px;
	}
	.single-us input[type="text"], .leave textarea, .leave input[type="submit"] {
		font-size: 0.9em;
		width: 100%;
		padding: 0.8em 0.8em;
	}
	.choose_img h3 {
      font-size: 25px;
	}
	.btm-right .captn {
		bottom: -83%;
	}
	.met-in {
		margin: 0 0 0 1em;
	}
}
@media (max-width:384px) {
.time-bg h4 {
		font-size: 1.6em;
		padding:1em 0 0.5em 0;
		line-height: 1.7em;
	}
	p#demo {
		font-size: 1.7em;
	}
	.time-bg {
		min-height: 228px;
	}
	.amet-sed {
		padding: 0 5px;
	}
	.choose_icon {
		margin-top: 0.5em;
	}
	.banner-two {
		min-height: 80px;
	}
	.blog-pagenat ul li a {
		background: none;
		padding:9px 9px;
		font-size: 0.8em;
		    margin-top:0em;
	}
	.blog-pagenat {
		text-align: left;
		margin-top: 2em;
	}
	.support input[type="submit"] {
		border: 0;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		padding: 0.7em;
		width: 46%;
		margin: 0.5em 5.4em;
	}
	.post-details.s-page h2 {
      font-size: 0.9em;
	}
	.contact-grid {
		padding: 0 5px;
	}
	.styled-input {
		width: 100%;
		margin: 2em 0 0em;
		position: relative;
	}
	h4.info {
		font-size: 1.4em;
	}
	.map iframe {
		height: 200px;
		border: none;
		width: 100%;
		margin-top: 15px;
	}
	.btm-right .captn {
		bottom: -83%;
	}
	.captn h4 {
		font-size: 1.4em;
	}
	.btm-right:hover .captn h4 {
		margin-top: 130px;
	}
	.ab-left, .feature-grid-image {
		padding: 0 15px;
		width: 100%;
		margin: 0 auto;
	}
	.amet-sed h4 {
		margin: 0 0 0.7em;
		font-size: 1.2em;
	}
}
@media (max-width:320px) {
	h3.tittle.three {
		margin-left: 0.5em;
	}
	span.like {
		font-size: 0.65em;
		color: #ed1c24;
		text-transform: capitalize;
		margin: 3px 0;
	}
	.support input[type="submit"] {
		border: 0;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		padding: 0.7em;
		width: 46%;
		margin: 0.5em 3.9em;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		border-top: none !important;
		padding: 0 5px !important;
	}
	.gallery-grid{
		padding: 0 4px;
	}
	.col-news-right,.col-news {
		padding: 0 5px;
	}
	.blog-pagenat ul li a {
		background: none;
		padding:7px 7px;
		font-size: 0.8em;
		    margin-top:0em;
	}
	.men {
		width: 21%;
		padding: 6.5em 0;
	}
	.map iframe {
		height: 200px;
		border: none;
		width: 100%;
		margin-top: 15px;
	}
	h3.tittle.new {
		font-size: 1.2em;
	}
	.choose_img h3 {
		font-size: 22px;
	}
	.time-bg h4 {
		font-size: 1.4em;
		padding: 1em 0 0.5em 0;
		line-height: 1.7em;
	}
	.time-bg {
		min-height: 178px;
	}
	p#demo {
		font-size: 1.3em;
	}
	.captn h4 {
		font-size: 1.2em;
	}

}
